<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,100italic' rel='stylesheet' type='text/css'>
	<link rel="stylesheet" type="text/css" href="style.css">
	<link rel="stylesheet" media="(max-width: 480px)" href="example.css" />
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<link href="//fonts.googleapis.com/css?family=PT+Mono:400" rel="stylesheet" type="text/css">
	<title>Qued</title>
</head>

<!-- onclick="removeInput()" -->
<body x-ng-app="" x-ng-controller="appCtrl" x-ng-click="removeInput()">
	<div id="deck">
		<h1><span id="q">Q</span>ued</h1>
		<div id="items"> 
			<div x-ng-repeat="item in list | orderBy:'-numInt'" class="item" >
				<span class="subItems">{{item.name}}</span>
				<span class="topic subItems">{{item.topic}}</span>
				<span x-ng-click="clickUpOne(item, $event)" onmouseover="enlarge(this)" onmouseout="normal(this)" class="numInterested subItems keep">
					<span class="plusOne keep">+</span>
					{{item.numInt}}
				</span>
				<div class="people">{{item.nameInt}}</div>
				<form x-ng-submit="addName(item)">
					<input x-ng-class="item.nameOnOff" x-ng-model="item.nameToAdd" type="text" placeholder="+ Your Name" class="keep" >
				</form>	
				<div>{{nameToAdd}}</div>
				<div class="remove" x-ng-click="remove(item)">X</div>
			</div>
		</div>
		<form x-ng-submit="addItem()">
			<div id="inputs">
				<div>
					<label>Name</label>
					<input x-ng-model="nameInput" type="text" placeholder="Name please" class="textBox">
				</div>
				<div>	
					<label>Topic&nbsp;</label>
					<input x-ng-model="topicInput" type="text" placeholder="And the topic is..." class="textBox">
				</div>
			</div>	
			<button type="submit">Get Qued</button>	
		</form>		
	</div>	

</body>
</html>