<html>
<head>
	<link href='http://fonts.googleapis.com/css?family=Lato:300,100italic' rel='stylesheet' type='text/css'>
	<link href="//fonts.googleapis.com/css?family=PT+Mono:400" rel="stylesheet" type="text/css">

	<link rel="stylesheet" type="text/css" href="style.css">
	<script type="text/javascript" src="main.js"></script>
	<script type="text/javascript" src="https://ajax.googleapis.com/ajax/libs/angularjs/1.2.7/angular.min.js"></script>
	<link href="//fonts.googleapis.com/css?family=PT+Mono:400" rel="stylesheet" type="text/css">
	<title>Qued</title>
</head>
<body>
	<div x-ng-app="" x-ng-controller="appCtrl" id="deck">
		<h1><span id="q">Q</span>ued</h1>
		<div id="items"> 
			<div x-ng-repeat="item in list" class="item">
				<span class="subItems">{{item.name}}</span>
				<span class="topic subItems">{{item.topic}}</span>
				<span x-ng-click="increment(item)" onmouseover="enlarge(this)" onmouseout="normal(this)" class="numInterested subItems">
					<span class="plusOne">+</span>
					{{item.numInt}}
				</span>
				<div class="remove" x-ng-click="remove(item)">X</div>
			</div>
		</div>
		<form x-ng-submit="addItem()">
			<div id="inputs">
				<div>
					<label>Name</label>
					<input x-ng-model="nameInput" type="text" placeholder="Name please" class="textBox">
				</div>
				<div>	
					<label>Topic&nbsp;</label>
					<input x-ng-model="topicInput" type="text" placeholder="And the topic is..." class="textBox">
				</div>
			</div>	
			<button type="submit">Get Qued</button>	
		</form>		
	</div>	

</body>
</html>