#deck {
	width:400px;
	border: 3px solid black;
	margin: 0 auto;
	background-color: white;
}

h1 {
	text-align: center;
	padding-bottom: 5px;
	font-family: 'Lato', 'Mono', helvetica;
	margin-top: 0;
	margin-bottom: 20px;
	font-size: 43px;
	font-weight: 100;


}

#q {
	font-size: 77px;
	font-weight: bold;
}

.item {
	width: 350px;
	min-height: 73px;
	border: 1px solid black;
	margin: 0 auto 15px;
	position: relative;
	background-color: #3399ff;
}

.subItems {
	display: block;
	text-align: center;
	font-family: 'Lato', 'Mono', helvetica;
	font-weight:100;
	font-size: 36px;
}

.numInterested {
	position: absolute;
	top: 1px;
	left: 4px;
	font-size: 14px;
	cursor: pointer;
}

.plusOne {
	color: #33ff99;
	font-size: 18px
}

.addNameOn {
	position: absolute;
	top: 4px;
	width: 70px;
	margin-left: 5px;
	font-family: 'Lato', 'Mono', helvetica;
}

.addNameOff {
	display: none;
}

.people {
	display:none;
	background: gray;
	position: absolute;
	top: 27px;
	border-radius: 5px;
	padding: 1px;
	font-family: 'Lato', 'Mono', helvetica;
	font-size: 11px;
}

/*.people:hover {
	display: block;
}*/

.remove {
	position: absolute;
	top: 2px;
	left: 330px;
	color: black;
	width: 15px;
	height:15px	;
/*	transition: color .1s;*/
	text-align: center;
	font-size: 15px;
	cursor: pointer;
	font-family: 'Lato', 'Mono', helvetica;
}

.remove:hover {
	color: #ff3399;
	font-size: 17px;
}

.topic {
	font-size: 24px;
}

form {
	margin-top: 22px;
}

#inputs {
	display: inline-block;
}

label {
	margin-left: 10px;
	font-family: 'Lato', 'Mono', helvetica;
	font-weight:100;
	font-size: 18px;

}

.textBox {
	height:22px;
	font-family: 'Lato', 'Mono', helvetica;
	margin-top: 5px;
	font-size: 14px
}

button[type=submit] {
	margin: 7px 9px 0 0;
	cursor: pointer;
	width: 166px;
	height:45px;
	float: right;
	font-family: 'Lato', 'Mono', helvetica;
	font-size: 22px;
	border-radius: 7px;
	border: none;
	background-color: #ff9933;
}

button[type=submit]:hover {
	font-size: 24px
}

@media (max-width: 480px) {
	#deck {
		width:290px;
	}

	.item {
		width: 250px;
	}

	.remove {
		position: absolute;
		top: 3px;
		left: 230px;
		color: #ff3399;
	}		
	
	#inputs {
	display: block;
	}

	button[type=submit] {
		float: none;
		display: block;
		margin: 9px auto;
		width: 200px;
		height: 55px
	}	
}

